asgiref==3.8.1
astroid==3.3.8
beautifulsoup4==4.12.3
black==24.10.0
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
dill==0.3.9
distlib==0.3.9
dj-database-url==2.3.0
Django==4.2.18
django-admin-sortable2==2.2.4
django-appconf==1.0.6
django-autocomplete-light==3.12.0
django-compressor==4.5.1
django-debug-toolbar==5.0.1
django-js-asset==3.0.1
django-meta==2.4.2
django-ordered-model==3.7.4
django-sass-processor==1.4.1
django-solo==2.4.0
django-stubs==5.1.2
django-stubs-ext==5.1.2
django-tinymce==4.1.0
filelock==3.17.0
gunicorn==23.0.0
icalendar==6.1.1
identify==2.6.6
idna==3.10
iniconfig==2.0.0
isort==6.0.0
lazy-object-proxy==1.10.0
libsass==0.23.0
lxml==5.3.0
mccabe==0.7.0
mypy==1.14.1
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
pipenv==2024.4.1
pippip==0.0.10
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.1.0
psycopg2-binary==2.9.10
pyinstrument==5.0.1
pylint==3.3.4
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
pytest==8.3.4
pytest-django==4.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
setuptools==75.8.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
types-pytz==2024.2.0.20241221
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.1
whitenoise==6.8.2
wrapt==1.17.2
