asgiref==3.8.1
astroid==3.2.2
beautifulsoup4==4.12.3
black==24.8.0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
dj-database-url==2.2.0
Django==4.2.13
django-admin-sortable2==2.2.1
django-appconf==1.0.6
django-autocomplete-light==3.11.0
django-compressor==4.5
django-debug-toolbar==4.4.2
django-js-asset==2.2.0
django-meta==2.4.2
django-ordered-model==3.7.4
django-sass-processor==1.4.1
django-solo==2.2.0
django-stubs==5.0.2
django-stubs-ext==5.0.2
django-tinymce==4.1.0
filelock==3.15.4
gunicorn==22.0.0
icalendar==5.0.13
idna==3.7
iniconfig==2.0.0
isort==5.13.2
lazy-object-proxy==1.10.0
libsass==0.23.0
lxml==5.2.2
mccabe==0.7.0
mypy==1.10.1
mypy-extensions==1.0.0
packaging==24.1
pipenv==2024.0.1
pippip==0.0.10
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
psycopg2-binary==2.9.9
pyinstrument==4.6.2
pylint==3.2.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pytest==8.2.2
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tomli==2.0.1
tomlkit==0.12.5
types-pytz==2024.1.0.20240417
types-PyYAML==6.0.12.20240311
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
whitenoise==6.7.0
wrapt==1.16.0
