@import "header.scss";
@import "footer.scss";
@import "toc.scss";
@import "static_page.scss";
@import "ios_pwa_prompt.scss";

$background-main: #d4d0c7;

/*************************************/
/** Styles for major html elements  **/
/*************************************/

html {
  /*
  scroll-padding-top is here to fix the subtle problem that happened
  when clicking on a day anchor on a different month than the one being currently viewed.
  i.e. if you are on the homepage and click a 'grey' date in the calendar for a different month
  (or just go directly to that url), for example, https://nyc-noise.com/2024-01/#012024 ,
  you would be brought to a scrolling position that's a bit too "far" i.e. you'd have to scroll
  up to see the day heading and any other 'previous' events.
  this is happening because of the day's sticky header. scroll-padding-top fixes this issue.
  */
  scroll-padding-top: 1rem;
}

body {
  background-color: $background-main;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#mainContainer {
  margin: 8px;
}

main {
  max-width: 42em;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1 {
  margin: 0;
}

a {
  color: #000080;
}

/*************************************/
/** Index                           **/
/*************************************/

.emailForm {
  margin: 1em 0;
  text-align: center;
}

.goToTopLink {
  margin-top: 15px;
  text-align: center;

  a {
    color: #008080;
  }
}

#pre-cal-msg {
  margin-bottom: 10px;
}

#post-cal-msg {
  margin-top: 10px;
}

/*************************************/
/** Event styles                    **/
/*************************************/

article {
  .dateMessage {
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    display: inline;
  }

  h4 {
    top: 0;
    // padding: 1em 0;
    position: sticky;
    background-color: $background-main;
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
      color: black;
    }
  }

  .maskYrSelf {
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  :last-child {
    border-bottom: none;
  }
}

.event {
  display: flex;

  text-indent: -3em;
  padding-left: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  .title-only {
    font-weight: bold;
  }
  .artists {
    font-weight: bold;
  }
  a.ticket {
    font-weight: bold;
  }

  .event-time-and-content {
    flex: 1;
  }
  .event-ticket {
    flex: 0 0 24px;
    text-align: right;

    span {
      background-color: rgba(255, 255, 59, 0.8);
      font-size: 0.9rem;
      padding: 0;
      padding-left: 1px;
      padding-right: 1px;
      border: 1px solid black;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  .price {
    font-size: 0.85rem;
  }
}

.time {
}

.event.cancelled {
  text-decoration: line-through;
  color: #666;
  a {
    color: #444;
  }
}

.event.cancelled .eventPreface {
  display: inline-block;
  text-indent: 0;
  text-decoration: none !important;
  /* this is the weird trick to un-text-decorate this child element */
  color: black;
}

.accessibility {
  font-size: 0.85em;

  a {
    font-size: 1em;
    color: #008080;
  }
}

.gcal {
  color: #000000;
  font-size: 0.85rem;
}

.eventDescription {
  font-size: 0.85rem;
}

.ical {
  color: #000000;
  font-size: 0.85rem;
}

.map {
  color: #993366;
  font-size: 0.85rem;
}

/*************************************/
/** Calendar styles                 **/
/*************************************/

#calendar {
  display: grid;
  position: relative;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    font-weight: bold;
  }

  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #ddd;
    margin: 0;
    position: relative;
    text-align: center;
    font-size: 1.6rem;
  }

  .date a {
    text-transform: lowercase;
  }

  .date-today {
    background: rgb(251, 247, 224);
  }

  .date-other-month a {
    color: #999;
  }
}

/*************************************/
/** Search                          **/
/*************************************/

main .search {
  text-align: center;
  margin-bottom: 20px;

  input[type="search"] {
    width: 200px;
  }
}
