/*************************************/
/** Styles for major html elements  **/
/*************************************/
body {
  background-color: #d4d0c7;
  font-family: "Open Sans", sans-serif; }

main {
  max-width: 42em;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  position: relative; }

h1 {
  margin-bottom: 0; }

a {
  color: blue; }

p {
  display: inline; }

/*************************************/
/** Event styles                    **/
/*************************************/
article h4 {
  top: 0;
  padding: 1em 0;
  position: sticky;
  background-color: #d4d0c7; }
  article h4 a {
    color: black; }

article :last-child {
  border-bottom: none; }

.event {
  text-indent: -2.5em;
  padding-left: 2.5em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .event .title-only {
    font-weight: bold; }
  .event .artists {
    font-weight: bold; }

.event.cancelled {
  text-decoration: line-through;
  color: #666; }
  .event.cancelled a {
    color: #444; }

.event.cancelled .eventPreface {
  display: inline-block;
  text-indent: 0;
  text-decoration: none !important;
  /* this is the weird trick to un-text-decorate this child element */
  color: black; }

.accessibility {
  font-size: 0.85em; }
  .accessibility a {
    font-size: 1em;
    color: #008080; }

.gcal {
  color: #000000;
  font-size: 0.85rem; }

.eventDescription {
  font-size: 0.85rem; }

.ical {
  color: #000000;
  font-size: 0.85rem; }

.map {
  color: #000000;
  font-size: 0.85rem; }

/*************************************/
/** Calendar styles                 **/
/*************************************/
#calendar {
  display: grid;
  position: relative; }
  #calendar table {
    border-collapse: collapse;
    width: 100%; }
  #calendar tr {
    font-weight: bold; }
  #calendar td {
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 0;
    position: relative;
    text-align: center;
    font-size: 1.6rem; }
  #calendar .date a {
    text-transform: lowercase; }
  #calendar .date-today {
    background: #fbf7e0; }
  #calendar .date-other-month a {
    color: #999; }
