div.event-submission {
  label[for="id_starttime"],
  label[for="id_artists"],
  label[for="id_hyperlink"],
  label[for="id_venue"] {
    font-weight: bold;
  }

  textarea#id_description {
    height: 80px;
  }

  div.helptext {
    padding: 0;
    margin: 0;
  }

  ul.errorlist {
    color: red;
    font-weight: bold;
    // make li not have bullets
    list-style-type: none;
  }

  span.select2.select2-container {
    span.selection {
      span.select2-selection {
        border: 2px solid black;
      }
    }
  }
}

span.select2-container {
  input {
    border: 2px solid blue !important;
  }
}
