{% load sass_tags %}
{% load get_item %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'core/opengraph.html' %}
  <link href="{% sass_src 'scss/core.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>

<main>
  <div class='search'>
    <form method='GET' action='/'>
      <input type='search' name='s' style=''>
      <input type='submit' value='search'>
    </form>
  </div>

  {% block site_title %}
    <h1>nyc noise</h1>
    <div style="margin-bottom:20px;"><small>~ always incomplete ~</small></div>
  {% endblock %}

  {% block content %}{% endblock content %}

</main>

</body>
</html>
