{% extends 'core/base.html' %}

{% block month_year_header %}
  {% if not is_index %}
    <h1>{{ month_year_header }}</h1>
  {% endif %}
{% endblock month_year_header %}

{% block content %}

  {% if index_page_messages and index_page_messages.pre_cal_msg %}
    <div id="pre-cal-msg">
      <p>{{ index_page_messages.pre_cal_msg|safe }}</p>
    </div>
  {% endif %}

  {% include "calendar/calendar.html" with calendar_dates=calendar_dates only %}

  {% if index_page_messages and index_page_messages.post_cal_msg %}
    <div id="post-cal-msg">
      <p>{{ index_page_messages.post_cal_msg|safe }}</p>
    </div>
  {% endif %}

  <div class="emailForm">
    <form method='POST' action="{% url 'email_subscribe' %}">
      {% csrf_token %}
      <input type='email' name='email' placeholder='you@somewhere.com' required>
      <input type='submit' value='subscribe'>
    </form>
  </div>

  {% for date in calendar_dates %}
    {% if date.is_current_page_month %}
      <article>
        <h4><a name="{{ date.date|date:'mdy' }}" href="/{{ date.date|date:'Y-m' }}/#{{ date.date|date:'mdy' }}">{{ date.date|date:"M d (D)"|lower }}</a></h4>

        <div class='maskYrSelf'>MASK YR SELF!</div>

        {% if date.date.date in date_messages %}
          {% for message in date_messages|get_item:date.date.date %}
            <div class='dateMessage'>{{ message|safe }}</div>
          {% endfor %}
        {% endif %}

        {% if date.date.date in all_events %}
          {% for event in all_events|get_item:date.date.date %}
            {% include 'core/event.html' with event=event only %}
          {% endfor %}
        {% endif %}
        
      </article>
      <div class="goToTopLink">[<a href="#"><b>go to top</b></a>]</div>
    {% endif %}
  {% endfor %}
{% endblock content %}