{% extends 'core/base.html' %}

{% block content %}
  {% include "calendar/calendar.html" %}

  <div class="emailForm">
    <form method='POST' action="{% url 'email_subscribe' %}">
      {% csrf_token %}
      <input type='email' name='email' placeholder='you@somewhere.com' required>
      <input type='submit' value='subscribe'>
    </form>
  </div>

  {% for date, events in all_events.items %}
    <article>
      <h4><a name="{{ date|date:'mdy' }}" href="/#{{ date|date:'mdy' }}">{{ date|date:"M d (D)"|lower }}</a></h4>

      {% if date in date_messages %}
        {% for message in date_messages|get_item:date %}
          <h4>{{ message }}</h4>
        {% endfor %}
      {% endif %}
      <ul>
      {% for event in events %}
       <li>{% include 'core/event.html' with event=event only %}</li> 
      {% endfor %}
    </ul>
    </article>
  {% endfor %}
{% endblock content %}