{% load static %}
{% load opengraph %}

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{% meta_url %}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% meta_title %}">
<meta property="og:description" content="{% meta_description %}">
<meta property="og:image" content="{% static 'core/images/NYC-Noise-facebook-preview-TOO-BIG.png' %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{% meta_domain %}">
<meta property="twitter:url" content="{% meta_url %}">
<meta name="twitter:title" content="{% meta_title %}">
<meta name="twitter:description" content="{% meta_description %}">
<meta name="twitter:image" content="{% static 'core/images/NYC-Noise-facebook-preview-TOO-BIG.png' %}">
