{% extends 'core/base.html' %}

{% block content %}
  <h3>Search results for: {{ query }}</h3>

  <h4>Events</h4>

  <article>
    {% for results_event in results_events %}
      <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.3); margin-bottom: 10px;">
        <a href="/{{ results_event.starttime|date:'Y-m' }}/#{{ results_event.starttime|date:'mdy' }}">
          {{ results_event.starttime|date:"M d (D) Y"|lower }}
        </a>

        {% include 'core/event.html' with event=results_event only %}
      </div>
    {% empty %}
      No results found.
    {% endfor %}
  </article>

  <h4>Pages</h4>

  {% for results_page in results_pages %}
    <div style="margin-bottom: 10px">
      <a href="{{ results_page.get_absolute_url }}">{{ results_page.title }}</a>
    </div>
  {% empty %}
    No results found.
  {% endfor %}

{% endblock content %}