{% load static %}

<script src="{% static 'core/lib/maplibre-gl.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'core/lib/maplibre-gl.min.css' %}">

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    const dateLinks = document.querySelectorAll('a[data-date]')

    // function to check if venues are within ~10 meters of eachother
    const areWithinTenMeters = (lnglatA, lnglatB) => {
      // convert each string to an 2D array of numbers
      const pointsA = lnglatA.split(',').map(d => parseFloat(d));
      const pointsB = lnglatB.split(',').map(d => parseFloat(d));

      const distance = Math.sqrt((pointsA[0]-pointsB[0]) ** 2 + (pointsA[1]-pointsB[1]) ** 2);
      return distance < 0.0001;
    }

    // do some preprocessing to figure out venues ~10m of each other
    // first, create a dictionary of all of our venues and their lnglats
    const lnglatsByVenueId = {}
    const allEventDivs = document.querySelectorAll(`div.event[data-venue-lnglat]`)
    Array.from(allEventDivs).filter((obj, index, arr) =>  // filter to unique venue ids
        index === arr.findIndex(obj2 => obj.getAttribute('data-venue-id') === obj2.getAttribute('data-venue-id'))
      ).forEach(eventDiv => {
        const venueId = eventDiv.getAttribute('data-venue-id');
        lnglatsByVenueId[venueId] = eventDiv.getAttribute('data-venue-lnglat');
      });
    // an array where each element is an array of venue IDs within ~10m of each other
    const mergedVenues = [];
    Object.entries(lnglatsByVenueId).forEach(([venueId, venueLngLat]) => {
      let foundMatchingVenue = false;
      mergedVenues.forEach((venueList, index) => {
        if (areWithinTenMeters(venueLngLat, lnglatsByVenueId[venueList[0]])) {
          mergedVenues[index].push(venueId);
          foundMatchingVenue = true;
        }
      });

      if (!foundMatchingVenue) {
        mergedVenues.push([venueId]);
      }
    });
    // convert this array or arrays to an array of strings
    // these will become our venueIds for the map & eventsByVenueId object
    const mergedVenueIds = mergedVenues.map(el => el.join(','));

    dateLinks.forEach(link => {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        
        const date = link.getAttribute('data-date');
        const mapDiv = document.querySelector(`#map-${date}`);
        const mapIsShown = mapDiv.style.display === 'block';
        mapDiv.style.display = mapIsShown ? 'none' : 'block';
        document.getElementById(`map-${date}-info`).style.display = mapIsShown ? 'none' : 'block';
        link.textContent = mapIsShown ? 'SHOW MAP' : 'HIDE MAP';

        if(mapIsShown) {
          return;
        }
        // if map already exists, don't recreate it
        if (mapDiv.children.length > 0) {
          return;
        }

        // find all of the <div> with class="event"
        // that have a data-date of the same value,
        // and have a data-venue-latlng
        const eventDivs = document.querySelectorAll(`div.event[data-date="${date}"][data-venue-lnglat]`);

        const eventsByVenueId = {};
        Array.from(eventDivs).forEach(eventDiv => {
          const isCancelled = eventDiv.getAttribute('data-is-cancelled') === 'True';
          if (isCancelled) {
            return;
          }
          const lnglat = eventDiv.getAttribute('data-venue-lnglat').split(',');
          const startTime = eventDiv.getAttribute('data-starttime');
          const titleAndArtists = eventDiv.getAttribute('data-title-and-artists');
          let subString = titleAndArtists.split(' ').slice(0, 5).join(' ');
          if (titleAndArtists.length > subString.length) {
            subString += '...';
          }
          const venueId = eventDiv.getAttribute('data-venue-id');
          const mergedVenueId = mergedVenueIds.find(string => string.includes(venueId))

          eventsByVenueId[mergedVenueId] = eventsByVenueId[mergedVenueId] || [];
          eventsByVenueId[mergedVenueId].push({
            'type': 'Feature',
            'id': Math.floor(Math.random() * 0xffffffff),
            'properties': {
              'divId': eventDiv.id,
              'venueIds': mergedVenueId,
              'startTime': startTime,
              'description': subString
            },
            'geometry': {
              'type': 'Point',
              'coordinates': [parseFloat(lnglat[0]), parseFloat(lnglat[1])]
            }
          });
        });
        const features = Object.values(eventsByVenueId).map(events => {
          // if multiple events at the same venue, only return the first one but
          // merge all of the description strings with the '\n' separator
          const description = events.map(event => event.properties.description).join('\n');
          const eventTimes = events.map(event => event.properties.startTime).join(', ');
          const event = events[0];
          event.properties.startTime = eventTimes;
          event.properties.description = description;
          return event;
        });
        const allFeatures = {
          'type': 'FeatureCollection',
          'features': features
        };

        const map = new window.maplibregl.Map({
          container: `map-${date}`,
          zoom: 10,
          center: [-73.9, 40.72],
          style: "https://api.protomaps.com/styles/v4/light/en.json?key=744c0d83a2202e0c",
          maxPitch: 0,
        });
        // fit bounds of all points
        const bounds = new maplibregl.LngLatBounds();
        features.forEach(feature => {
          bounds.extend(feature.geometry.coordinates);
        });
        map.fitBounds(bounds, {
          padding: {top: 25, bottom: 10}, // more room at top for marker height
          animate: false,
        });
        if (map.getZoom() > 10) {
          // choosing to not zoom in from a lower number to make sure all points are visible
          map.setZoom(10);
        }
        map.on('load', () => {
          map.loadImage(
            '/marker-blue.png'
          ).then(function(imageBlue) {
            map.addImage('marker-blue', imageBlue.data);
            map.loadImage(
              '/marker-red.png'
            ).then(function (imageRed) {
                map.addImage('marker-red', imageRed.data);

                map.addSource('places', {
                  type: 'geojson',
                  data: allFeatures
                });

                map.addLayer({
                  'id': 'poi-icons',
                  'type': 'symbol',
                  'source': 'places',
                  'layout': {
                    'icon-image': 'marker-red',
                    'icon-size': 0.5,
                    'icon-offset': [0, -26],
                    'text-offset': [0, 0.9],
                    'icon-allow-overlap': true,
                    'symbol-z-order': 'source',
                    'symbol-sort-key': [
                      'match',
                      ['get', 'divId'],
                      '', // initialize to not match anything
                      1000, // sort key when id is the hovered feature id
                      0 // default
                    ],
                  },
                  'paint': {
                  }
                });

                map.addLayer({
                  'id': 'poi-labels',
                  'type': 'symbol',
                  'source': 'places',
                  'layout': {
                    'text-field': [
                      'format',
                      ['get', 'startTime'],
                      {
                        'font-scale': 1.1,
                        'text-font': [
                          'literal',
                          ['Noto Sans Italic']
                        ]
                      },
                      '\n',
                      {},
                      ['get', 'description'],
                      {'font-scale': 0.8}
                    ],
                    'text-line-height': 0.9,
                    'text-font': ['Noto Sans Regular'],
                    'text-justify': 'left',
                    'text-allow-overlap': true,
                    'text-size': 14,
                    'text-offset': [0, 0],
                    'text-anchor': 'top',
                  },
                  'paint': {
                      'text-color': '#333333',
                      'text-opacity': [
                        // increase from 0 at zoom 10 to 1 at zoom 12
                        'interpolate',
                        ['exponential', 0.5],
                        ['zoom'],
                        10,
                        0,
                        11,
                        1,
                      ]
                  }
                });
            });
          });
        });
        map.on('click', 'poi-icons', (e) => {
          document.getElementById(`map-${date}-info`).innerHTML = '';

          // Get all divs at this venue (or venues) on this date
          const venueIds = e.features[0].properties.venueIds.split(',');
          const eventsQuerySelector = venueIds
            .map(venueId => `div.event[data-date="${date}"][data-venue-id="${venueId}"]`)
            .join(', ');
          const eventDivs = document.querySelectorAll(eventsQuerySelector);
          eventDivs.forEach(eventDiv => {
            // clone the whole eventDiv
            // and insert it into the map-<date>-info div
            const clonedEventDiv = eventDiv.cloneNode(true);
            // change the styling on the CHILD
            clonedEventDiv.style.textIndent = '-30px';
            clonedEventDiv.style.paddingLeft = '34px';
            document.getElementById(`map-${date}-info`).appendChild(clonedEventDiv);
          })
          document.getElementById(`map-${date}-info`).style.display = 'block';

          map.setLayoutProperty('poi-icons', 'icon-image',
            [
              'match',
              ['get', 'divId'],
              e.features[0].properties.divId,
              'marker-blue', //image when id is the hovered feature id
              'marker-red' // default
            ]
          );
          map.setLayoutProperty('poi-icons', 'symbol-sort-key',
            [
              'match',
              ['get', 'divId'],
              e.features[0].properties.divId,
              1000, // sort key when id is the hovered feature id
              0 // default
            ]
          )
        });
        map.on('mousemove', 'poi-icons', (e) => {
          if (e.features.length > 0) {
            // change cursor
            map.getCanvas().style.cursor = 'pointer';
          }
        });
        map.on('mouseleave', 'poi-icons', () => {
          // reset cursor
          map.getCanvas().style.cursor = '';
        });
      });
    });

    // IF we're on the index page, then actually CLICK the very first
    // SHOW MAP link..........!!!!!!!!!!!!!!!!!!!
    if (window.location.pathname === '/') {
      dateLinks[0].click();
    }
  });
</script>
