<div id="calendar">
  <table>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
   </tr>
  {% for date in calendar_dates %}
    {% if forloop.counter0|divisibleby:7 %}
      {% if not forloop.first %}</tr>{% endif %}
      {% if not forloop.last %}<tr>{% endif %}
    {% endif %}
    <td class="date{% if date.is_today %}-today{% elif date.is_this_month %}-this-month{% else %}-other-month{% endif %}"
    >
        <a href="/#{{ date.date|date:'mdy' }}">{{ date.date.day }}</a>
    </td>
  {% endfor %}
</table>
</div>
