<style>
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 6rem);
    grid-template-rows: 2rem repeat(6, 3rem);
    background: #ddd;
    grid-gap: 1px;
    border: 1px solid #ddd;
    width: fit-content;
    margin: auto;
  }

  @media (max-width: 800px) {
    .calendar {
      grid-template-columns: repeat(7, 1fr);
      width: 100%;
    }
  }

  .date-head {
    background: #d4d0c7;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date {
    padding: 0.25rem;
    display: grid;
  }

  .date .day {
    text-align: right;
    display: grid;
  }

  .date .linky {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-transform: lowercase;
  }

  .date-today {
    background: rgb(251, 247, 224);
  }

  .date-this-month {
    background: #d4d0c7;
  }

  .date-other-month {
    background: #d4d0c7;
    color: #999;
  }
</style>
